.searchForm-react {
    position: relative;
}

.result-search {
    position: absolute;
    width: 300px;
    background: #fff;
    left: 50%;
    top: 45px;
    transform: translateX(-50%) translateY(150%);
    padding: 25px 0;
    padding-bottom: 0;
    z-index: -1;
    border-radius: 8px;
    box-shadow: 0 2px 17px #0000000a, 0 1px 3px #0000001a;
    transition-timing-function: ease-out;
    transition: all .4s linear;
    opacity: 0;
}

.result-search.show {
    transition: .4s;
    transition-timing-function: ease-out;
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    z-index: 9999;
}

.result-search .wrapper {
    display: flex;
    max-height: 500px;
    min-height: 100px;
    overflow-x: auto;
    background: #fff;
    flex-direction: column;
    color: #000000;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    transition: all .5s linear;
    box-shadow: inset 0 -13px 11px -7px #0000000a;
}

.result-search .wrapper::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

.search-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    font-family: var(--font-family);
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.search-text svg {
    margin-left: 10px;
}
  
  /* Track */
.result-search .wrapper::-webkit-scrollbar-track {
    background: rgba(0,0,0,.03);
}
  
  /* Handle */
.result-search .wrapper::-webkit-scrollbar-thumb {
    background: #FF5380;
    border-radius: 20px;
}

.product-search {
    margin-top: 7px;
    margin: 0 5px;
}

.product-search > a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
}

.product-search > a:hover {
    background-color: aliceblue;
}
.product-search > a:hover img {
    box-shadow: 0 2px 17px #0000000a, 0 1px 3px #0000001a;
}

.product-search figure {
    flex: 0 0 65px;
    height: 65px;
    margin-right: 10px;
}

.product-search h3 {
    font-family: var(--font-family);
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    margin: 0;
}

.product-search-price {
    font-family: var(--font-family);
    color: var(--default_bg);
    font-weight: 700;
    font-size: 16px;
}

.product-search h3 a {
    font-family: var(--font-family);
    color: #000000;
    text-decoration: none;
}

.categories-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



.categories-product a {
    font-family: var(--font-family);
    color: #000000;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    padding: 5px 8px;
    box-shadow: 0 2px 17px #0000000a, 0 1px 3px #0000001a;
    margin: 10px 0;
    margin-top: 5px;
    border-radius: 5px;
}

.product-search figure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-search:not(:last-child) a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}