.product_instructions
    background #ff93be
    border: 0 solid
    padding: 34px 24px;
    border-radius: 12px;
    min-height: 100px;
    display flex
    flex-direction column
    margin-bottom 30px

    h2
        font-weight: 700
        font-size: 24px
        color #ff0080
        font-family var(--default-font)
    
    ul
        margin-top 25px
        list-style circle
        list-style-type: circle
        padding-left 20px
        li
            font-family var(--default-font)
            list-style square
            list-style-type: square
            color #fff
            font-weight: 700
            font-size: 14px
            &:last-child
                display none
