.news-container
    background-color var(--default_bg)
    width 100%
    margin 0 auto
    padding 60px 0

    header
        color #fff
        text-align: center
        h3
            color #fff
            font-size: 32px;
            line-height: 40px
            font-weight 700
            max-width 630px
            text-align center
            margin 0 auto

    form
        color #fff
        width 100%
        max-width 620px
        margin 0 auto
        p
            width 100%
            margin-top 40px
        &, & p
            display flex
            justify-content center
            align-items center
        br
            display none
        input, label
            width 100%
            max-width 490px
            height 52px
            border none
            border-radius: 37.0526px
            outline 0
            margin 0

            &.wpcf7-email
                padding 0 30px
                font-family var(--default-font)
                font-weight 600
                color #000

            &.wpcf7-submit
                width 94px
                color var(--default_bg)
                border-radius: 18.5263px
                background #fff
                font-weight: 700
                font-family var(--default-font)
                margin-left 35px
                font-size: 14px;
                line-height: 32px
