.woocommerce
    .woocommerce-Price-amount
        bdi
            font-size: 24px;
            font-weight: bold;
            color: var(--default_bg)
            margin-bottom: 15px;
            opacity 1 !important
    .variations
        .label
            margin-right 10px
            label
                font-size: 24px;
                font-weight: 700;
                color: #2a2a2a;
                margin-right 15px
                margin-bottom: 10px;