:root {
  --default_bg: #ff0080;
  --default_bg_text: #000;
  --default_text_shadow: #F2F2F2;
  --font-family: 'Montserrat', sans-serif;
}

.products-wrapper { 
  display: flex;
}

.products-wrapper ul {
  list-style: none;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  font-family: var(--font-family);
}

.products-wrapper ul li {
  flex: 0 0 20%;
  padding: 20px 0;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.products-wrapper ul li button {
  border: 0;
  height: 30px;
  background-color: var(--default_bg);
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: lowercase;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  cursor: pointer;
}

.products-wrapper ul li button:hover {
  background-color: silver;
}

.products-wrapper ul li h2 {
  font-size: 12px;
  font-weight: 700;
}

.cart-background {
  background-color: #000;
  opacity: .7;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: auto;
  display: none;
}

.cart-background.open {
  display: flex;
}

@keyframes slideIn {
  0% { opacity: 0; transform: translateX(90%); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideOut {
  0% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(100%); }
}

@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}

.cart-summary {
  position: fixed;
  height: 100vh;
  right: 0;
  left: auto;
  top: 0;
  background: #fff;
  z-index: 999999;
  width: 400px;
  max-width: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  opacity: 0;
  transform: translateX(130%);
  transition-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: .7s;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}


.cart-summary.open {
  transition: .7s;
  transition-timing-function: ease-out;
  transform: translateX(0);
  opacity: 1;
}

.cart-summary .card-header {
  background: #fff;
  margin: 0 15px;
}

.cart-summary .card-header h3 {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  text-transform: lowercase;
  margin-top: 25px;
}

.cart-summary .card-header h3 svg {
  margin-right: 10px;
}