.the_price
    display flex
    flex-direction column

    .regular_price
        font-family var(--font-family)
        font-weight 700
        color #8d8d8d
        font-size 16px
        text-decoration line-through

    .parcel
        font-family var(--font-family)
        font-size 14px
        font-weight 500
        margin-left 5px

    .sale_price
        font-family var(--font-family)
        color #000
        font-weight 700
        display flex
        align-items center
        font-size 24px