 #star-rating
    .rating-container
        display flex
        font-family var(--font-family)
        font-weight 700
        font-size 12px
        align-items center
        span
            display: inline-flex
            position: relative
            font-size: 2.3rem
            color: rgb(250, 175, 0)
            cursor: pointer
            text-align: left
            -webkit-tap-highlight-color: transparent
            pointer-events: none
        .MuiRating-root
            margin-left 5px
            margin-right 5px